// Start Footer Section
footer
	.container
		.row.footer-widgets
			
			// Start Subscribe & Social Links Widget
			.col-md-3.col-xs-12
				.footer-widget.mail-subscribe-widget
					h4 Get in touch #[span.head-line]
					p Join my mailing list to stay up to date!
					form.subscribe
						input(type='text', placeholder='mail@example.com')
						input.btn-system(type='submit', value='send')
					.footer-widget.social-widget
						h4 Follow Me #[span.head-line]
						ul.social-icons
							li
								a.facebook(href='https://www.facebook.com/kev.coffey')
									i.fa.fa-facebook
							li
								a.twitter(href='https://www.twitter.com/kevdougful')
									i.fa.fa-twitter
							li
								a.google(href='https://www.google.com/+KevinCoffeyFul')
									i.fa.fa-google
							li
								a.linkdin(href='https://www.linkedin.com/in/kevdougful')
									i.fa.fa-linkedin
							li
								a.instgram(href='https://www.instagram.com/kevdougful/')
									i.fa.fa-instagram
							li
								a.instgram(href='https://www.reddit.com/user/kevdougful')
									i.fa.fa-reddit
			// End Subscribe & Social Links Widget
			
			// Start Twitter Widget
			.col-md-3.col-xs-12
				.footer-widget.twitter-widget
					h4 Twitter Feed #[span.head-line]
					ul
						li
							p #[a(href='#') @kevdougful] Lorem ipsum dolor et, consectetur adipiscing eli.
							span 28 July 2015
						li
							p #[a(href='#') @kevdougful] Lorem ipsum dolor et, consectetur adipiscing eli.
							span 28 July 2015
						li
							p #[a(href='#') @kevdougful] Lorem ipsum dolor et, consectetur adipiscing eli.
							span 28 July 2015								
			// End Twitter Widget
			
			// Start Flickr Widget
			.col-md-3.col-xs-12
				.footer-widget.flickr-widget
					h4 Flickr Feed #[span.head-line]
					ul.flickr-list
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
						li
							a.lightbox(href='images/flickr-01.jpg')
								img(alt='', src='images/flickr-01.jpg')
			// End Flickr Widget
			
			// 	Start Contact Widget
			.col-md-3.col-xs-12
				.footer-widget.contact-widget
					h4 #[img.img-responsive(src='images/kcoffey.png', alt='footer logo')]
					p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
					ul
						li
							span Phone Number: #[span +1.314.651.2965]
						li
							span Email: #[span kevdougful@gmail.com]
						li
							span Website: #[span www.kcoffey.com]
			// End Contact Widget						
// End Footer Section