extends layout

block head
	include head

block header
	include header

block footer
	include footer

block content
	// Full Body Container
	#container

		// Start Home Page Slider
		section#home
			// Start Carousel
			#main-slide.carousel.slide(data-ride='carousel')
			
				// Start Indicators
				ol.carousel-indicators
					li.active(data-target='#main-slide', data-slide-to='0')
					li(data-target='#main-slide', data-slide-to='1')
					li(data-target='#main-slide', data-slide-to='2')
				// End Indicators
				
				// Start Carousel Inner
				.carousel-inner
					// Start Item 1
					.item.active
						img.img-responsive(src='images/slider/bg1.jpg', alt='slider')
						.slider-content
							.col-md-12.text-center
								h2.animated2
									span Welcome to #[strong kcoffey.com]
								h3.animated3
									span Have a look around!
								p.animated4
									a.slider.btn.btn-system.btn-large(href='#') Check it out!
					// End Item 1
					// Start Item 2
					.item
						img.img-responsive(src='images/slider/bg2.jpg', alt='slider')
						.slider-content
							.col-md-12.text-center
								h2.animated4
									span There is stuff to see!
								h3.animated5
									span Have a look around!
								p.animated6
									a.slider.btn.btn-system.btn-large(href='#') Really, check it out!
					// End Item 2
					// Start Item 3
					.item
						img.img-responsive(src='images/slider/bg3.jpg', alt='slider')
						.slider-content
							.col-md-12.text-center
								h2.animated7.white
									span Are you mesmorized?
								h3.animated8.white
									span Snap out of it!
								p.animated4
									a.slider.btn.btn-system.btn-large.btn-min-block(href='#') What are you waiting for?
					// End Item 3
				// End Carousel Inner
				
				// Start Carousel Controls
				a.left.carousel-control(href='#main-slide', data-slide='prev')
					span
						i.fa.fa-angle-left
				a.right.carousel-control(href='#main-slide', data-slide='next')
					span
						i.fa.fa-angle-right
			// End Carousel
		// End Home Page Slider
		
		// Start Services Section
		.section.service
			.container
				.row
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-01(data-animation='fadeIn', data-animation-delay='01')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-02(data-animation='fadeIn', data-animation-delay='02')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-03(data-animation='fadeIn', data-animation-delay='03')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-04(data-animation='fadeIn', data-animation-delay='04')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
										// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-01(data-animation='fadeIn', data-animation-delay='01')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-02(data-animation='fadeIn', data-animation-delay='02')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-03(data-animation='fadeIn', data-animation-delay='03')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
					// Start Service Icon
					.col-md-3.col-sm-6.service-box.service-center.animated.fadeIn.delay-04(data-animation='fadeIn', data-animation-delay='04')
						.service-icon
							i.fa.fa-wrench.icon-large
						.service-content
							h4 Electronics Repair
							p Have a laptop with a key that doesn't work? How about that new iPhone with shattered screen? I can fix that!
					// End Service Icon
		// End Services Section
		
		// Start Recent Work Carousel
		.section.container
			.recent-projects
				h4.title #[span Recent Work]
				.projects-carousel.touch-carousel
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(data-lightbox-type='ajax', href='https://vimeo.com/78468485')
									.thumb-overlay
										i.fa.fa-play
									img(src='images/Portfolio-1/1.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Website:
									span Drawing
					// Item
					.portfolio-item.item
						.portfolio-border
							.portfolio-thumb
								a.lightbox(title='This is an image title', href='images/portfolio-big-01.jpg')
									.thumb-overlay
										i.fa.fa-arrows-alt
									img(src='images/Portfolio-1/2.png', alt='')
							.portfolio-details
								a(href='#')
									h4 Lorem Ipsum Dolor
									span Logo
									span Animation
					
		// End Recent Work Carousel
		
		// Start Testimonials Section
		div
			.container
				.row
					.col-md-8
						// Start Recent Posts Carousel
						.latest-posts
							h4.classic-title
								span Latest News
							.latest-posts-classic.custom-carousel.touch-carousel(data-appeared-items='2')
								
								// Post
								.post-row.item
									.left-meta-post
										.post-date
											span.day 28
											span.month Dec
											
										.post-type
											i.fa.fa-picture-o
											
									h3.post-title
										a(href='#') Standard post with image
									.post-content
										p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. #[a.read-more(href="#") Read More... ]
								
								// Post
								.post-row.item
									.left-meta-post
										.post-date
											span.day 28
											span.month Dec
											
										.post-type
											i.fa.fa-picture-o
											
									h3.post-title
										a(href='#') Standard post with image
									.post-content
										p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. #[a.read-more(href="#") Read More... ]
								
								// Post
								.post-row.item
									.left-meta-post
										.post-date
											span.day 28
											span.month Dec
											
										.post-type
											i.fa.fa-picture-o
											
									h3.post-title
										a(href='#') Standard post with image
									.post-content
										p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. #[a.read-more(href="#") Read More... ]
								
								// Post
								.post-row.item
									.left-meta-post
										.post-date
											span.day 28
											span.month Dec
											
										.post-type
											i.fa.fa-picture-o
											
									h3.post-title
										a(href='#') Standard post with image
									.post-content
										p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. #[a.read-more(href="#") Read More... ]
						// End Recent Posts Carousel
					
					.col-md-4
					
						// Start Testimonials Carousel
						h4.classic-title
							span Testimonials
						.custom-carousel.show-one-slide.touch-carousel(data-appeared-items='1')
							
							// Testimonial
							.classic-testimonials.item
								.testimonial-content
									p Some testimonial text
								.testimonial-author #[span Joe Public] - Customer
							
							// Testimonial
							.classic-testimonials.item
								.testimonial-content
									p Some testimonial text
								.testimonial-author #[span Joe Public] - Customer
							
							// Testimonial
							.classic-testimonials.item
								.testimonial-content
									p Some testimonial text
								.testimonial-author #[span Joe Public] - Customer
						// End Testimonials Carousel
		// End Testimonials Section